[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp
	tag = v6.0.5
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
	tag = 3.4
[submodule "vendor/glad"]
	path = vendor/glad
	url = https://github.com/Dav1dde/glad
	tag = v2.0.8
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
	tag = 1.0.3
